@import '../../colors.scss';

.precedents {
    margin-top: 15px;
}

.precedent-wrapper {
    margin: 20px 0px;
}

.precedent {
    border: 1px solid black;
    padding: 10px 15px;
    background-color: #fff;

    box-shadow: 5px 5px $eighties-blue;
    position: relative;

    h5 a {
        color: $black;
    }

    .short-name {
        float: right;
        background-color: $light-purple;
        padding: 4px 8px;
        margin-top: -20px;
        border-radius: 2px;
        color: #fff;
    }
}

.percent-of-invalids {
    background-color: $pink;
    color: #fff;
    padding: 2px 4px;
}