@import '../../colors.scss';

.precedent {
    border: 1px solid black;
    padding: 10px 15px;
    margin: 10px 20px;
    background-color: $beige;

    box-shadow: 5px 5px $eighties-blue;
    position: relative;
}

.precedent-invalids {
    position: absolute;
    top: 5px;
    right: 5px;

    span {
        background-color: $light-purple;
        color: #fff;
        padding: 2px 4px;
    }
}

.precedent-notable {
    display: inline-block;
    padding: 4px 8px;
    background-color: $pink;
    color: #fff;
    margin-right: 10px;
}