@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import './colors.scss';

body {
    font-family: 'Inconsolata', monospace;
    background-color: #c6c6c6;
}

$sidebar-max-width: 200px;
$phone: "only screen and (max-width: 768px)";

.body-wrapper {
    padding-top: 100px;
    height: calc(100vh);
    overflow: scroll;
    @media #{$phone} {
        overflow: visible;
    }

    .non-footer-body {
        min-height: calc(100vh - 190px)
    }
}

.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $light-purple;
    color: $black;
    height: 50px;
    z-index: 100;
    overflow: visible;

    .brand {
        font-family: 'VT323', monospace;
        padding: 0px 8px;
        text-align: right;
        font-size: 2.4em;
        height: 100px;
        width: 150px;
        display: inline-block;
        margin: 10px 15px;
        z-index: 1000;

        background-color: $eighties-blue;
        color: $pink;
        .brand-bottom {
            margin-top: -15px;
        }

        @media #{$phone} {
            font-size: 2em;
            height: 90px;
            width: 125px;
        }
    }

    .nav {
        vertical-align: top;
        font-size: 1.2em;
        display: inline-block;
        padding: 30px 15px 0px 15px;
        @media #{$phone} {
            font-size: 1em;
            padding: 20px 10px 0px 10px;
        }
        cursor: pointer;
        a {
            color: $black;
        }
    }

    .user {
        z-index: 2;
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 50%;
        background-color: $black;
        float: right;
        margin: 15px;
    }
}

.Header-triangle {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 10;
    top: 50px;
    left: 0px;
    polygon {
        fill: $light-purple;
        z-index: 10;
    }
}

.mr-input {
    background-color: #e4e4e4;
    outline: none;
    border: 1px solid #333;
    border-radius: 2px;
    padding: 2px 8px;
    display: inline-block;
    width: 250px;
    height: 50px;
    font-size: 1.2em;
    &:focus {
        border: 2px solid $light-purple;
    }
}

.mr-table {
    text-align: left;
    display: inline-block;
    box-shadow: 10px 10px $eighties-blue;
    thead {
        background-color: $black;
        color: #fff;
    }

    th {
        padding: 4px 8px;
        font-size: 1.1em;
    }

    tbody {
        background-color: #fff;
        tr {
            border-bottom: 2px solid $black;
        }
    }

    td {
        padding: 5px 10px;
        font-size: 1em;
    }

    .outcome-INVALID {
        color: #fff;
        background-color: tomato;
        padding: 3px 6px;
    }

    .markets-nav {
        text-align: left;
        padding: 15px 0px;

        .mr-input {
            display: inline-block;
            vertical-align: top;
        }

        .markets-status-filter {
            padding: 0px 10px;
            display: inline-block;
            height: 50px;
        }
    }

    .description-cell {
        width: 40%;
        .dope-link {
            color: $black;
            &:hover {
                color: #fff;
            }
        }
    }

    .market-topic {
        background-color: #bbb7d2;
        border-radius: 2px;
        padding: 3px 6px;
    }

    .num-rounds {
        display: inline-block;
        padding: 2px 6px;
        background-color: $eighties-blue;
        color: #fff;
    }

    @media #{$phone} {
        overflow: scroll;
    }
}

.settings {
    cursor: pointer;
    box-shadow: 3px 3px $eighties-blue;
    background-color: $beige;
    border: 1px solid $black;
    padding-top: 4px;
    text-align: center;
    height: 45px;
    width: 45px;
    float: right;
    margin-top: -20px;
    margin-right: 10px;
    opacity: 1;
}

.settings-up-true {
    margin-top: -75px;   
}

.settings-popup {
    background-color: $black;
    color: $beige;
    padding: 10px;
    width: 100%;
    height: 45px;
    box-shadow: 4px 4px $eighties-blue;
    margin-bottom: 10px;

    b {
        font-size: 1.2em;
    }

    >span {
        margin-right: 10px;
    }
}

.paginator {
    width: 100%;
    display: inline-block;
    
    >span {
        padding: 5px 10px;
        float: right;
        box-shadow: 5px 5px $eighties-blue;
        background-color: $beige;
        margin-right: 20px;
        margin-top: -15px;
        border: 1px solid $black;
    }

    .page {
        color: $black;
        padding: 0px 5px;
        cursor: pointer;
    }

    .page-num {
        background-color: $black;
        padding: 2px 8px;
        color: $beige;
        font-size: 1.2em;
        border-radius: 50%;
    }
}

.dope-link {
    &:hover {
        text-decoration: none;
        background-color: $eighties-blue;
        box-shadow: 2px 2px $pink;
        color: #fff;
    }
}

footer {
    height: 90px;
    background-color: #5a5a5a;
    color: $beige;
    font-size: 1.1em;
    a {
        color: $beige;
    }
    padding: 15px 25px;
}

