@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import './colors.scss';

body {
    font-family: 'Inconsolata', monospace;
    background-color: #c6c6c6;
}

$sidebar-min-width: 0px;
$sidebar-max-width: 200px;

.body-wrapper {
    margin-left: $sidebar-min-width;
    padding-top: 100px; 
    height: calc(100vh);
    overflow: scroll;
}

.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $light-purple;
    color: $black;
    height: 50px;
    z-index: 100;
    overflow: visible;

    .brand {
        height: 75px;
        width: 75px;
        display: inline-block;
        background-color: $black;
        margin: 10px 25px;
        z-index: 1000;
    }

    .nav {
        vertical-align: top;
        font-size: 1.2em;
        display: inline-block;
        padding: 30px 15px 0px 15px;
        cursor: pointer;
        a {
            color: $black;
        }
    }

    .user {
        z-index: 2;
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 50%;
        background-color: $black;
        float: right;
        margin: 15px;
    }
}

.Header-triangle {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 10;
    top: 50px;
    left: 0px;
    polygon {
        fill: $light-purple;
        z-index: 10;
    }
}

.Sidebar {
    position: absolute;
    width: $sidebar-min-width;
    height: 100vh;
    z-index: -1;
    background-color: $beige;
}

.mr-input {
    background-color: #e4e4e4;
    outline: none;
    border: 1px solid #333;
    border-radius: 2px;
    padding: 2px 8px;
    display: inline-block;
    width: 250px;
    height: 50px;
    font-size: 1.2em;
    &:focus {
        border: 2px solid $light-purple;
    }
}

.mr-table {
    text-align: left;
    display: inline-block;
    box-shadow: 10px 10px $eighties-blue;
    thead {
        background-color: $black;
        color: $beige;
    }

    th {
        padding: 4px 8px;
        font-size: 1.1em;
    }

    tbody {
        background-color: #e4e4e4;
        tr {
            border-bottom: 2px solid $black;
            &:hover {
                background-color: $beige;
                cursor: pointer;
            }
        }
    }

    td {
        padding: 5px 10px;
        font-size: 1em;
    }
}
