@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import './colors.scss';

body {
    font-family: 'Inconsolata', monospace;
}

$sidebar-min-width: 50px;
$sidebar-max-width: 200px;

.body-wrapper {
    margin-left: $sidebar-min-width;
    padding-top: 100px; 
    height: calc(100vh);
    overflow: scroll;
}

.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $light-purple;
    color: $black;
    height: 50px;
    z-index: 1;
    overflow: visible;

    .brand {
        height: 75px;
        width: 75px;
        display: inline-block;
        background-color: $black;
        margin: 10px 25px;
        z-index: 2;
    }

    .nav {
        vertical-align: top;
        font-size: 1.2em;
        display: inline-block;
        padding: 30px 15px 0px 15px;
        cursor: pointer;
        a {
            color: $black;
        }
    }

    .user {
        z-index: 2;
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 50%;
        background-color: $black;
        float: right;
        margin: 15px;
    }
}

.Header-triangle {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 0;
    top: 50px;
    left: 0px;
    polygon {
        fill: $light-purple;
        z-index: 0;
    }
}

.Sidebar {
    position: absolute;
    width: $sidebar-min-width;
    height: 100vh;
    z-index: -1;
    background-color: $beige;
}
